@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'AR One Sans', sans-serif;
    src: url('../../styles/fonts/AROneSans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'AR One Sans', sans-serif;
    src: url('../../styles/fonts//AROneSans-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'AR One Sans', sans-serif;
    src: url('../../styles/fonts/AROneSans-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'AR One Sans', sans-serif;
    src: url('../../styles/fonts/AROneSans-Bold.ttf');
    font-weight: 700;
}

