@use '_typography' as *;

// Primary Colors
$primary-blue: #2596be;
$primary-white: #FCFEFE;
$primary-black: #010304;

// Secondary Colors
$secondary-blue: #3DB0D9;
$secondary-white: #FAFDFE;
$secondary-black: #010607;

// Form Fields Colors
$primary-background: #E1E1E1;
$secondary-background: #FAFAFA;

// Tile Border Colors
$invoice-settled: #00FF93;
$invoice-outstanding: #FF4800;

