@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;


.sidenav{
    border-right: 1px solid white;
    height: 100%;
    background: rgb(37,150,190);
    background: linear-gradient(121deg, rgba(37,150,190,1) 60%, rgba(61,176,217,1) 60%);

    &__button{
        @include subheader-font;
        font-size: 1.25rem;
        letter-spacing: 1px;
        padding: 2rem 4rem;
        width: 12rem;
        margin: 0;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.1); 
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        transition: 0.2s;
        color: $primary-white;

        &:hover{
            border-top: 1px solid $primary-white;
            border-bottom: 1px solid $primary-white;
            background-color: $primary-blue; 
            color: $primary-white;
            cursor: pointer;
        }
    }
}